body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}

.orange_color span{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 100px;

}
.half_width{
    width: 50%;
    padding-left: 2%;
}
.half_width img{
    width: 50%;
    padding-left: 200px;
}

.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color: orangered;
    border-radius: 5px;
    padding: 5px 5px;
    
}

.top_banner{
    background-image: url(bakground_img.jpg);
    background-repeat: no-repeat;
}


.dream_big{
    background-image: url(bakground_img.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 100px;
    padding-left: 100px;
    
}
